.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
	background-color: $dark-grey;
	padding: 1.8rem;

	@media (min-width: 1020px) {
		flex-direction: row-reverse;
		align-items: flex-end;
		height: 7rem;
	}
	&__title {
		@include h4-footer;
		padding-bottom: 1rem;

		@media (min-width: 1020px) {
			padding: 0 0 0 1rem;
			margin: 0;
		}
	}
	&__bigbox {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.4rem;

		@media (min-width: 1020px) {
			flex-direction: row;
		}
		&--content {
			color: $white;
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			@media (min-width: 1020px) {
				padding-right: 2rem;
			}
			&--logo {
				width: 0.6rem;
				height: 0.8rem;
				margin-right: 1rem;
			}
		}
	}
}
