.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
	background-color: $dark-grey;
	padding: 1.5rem;
	&__title {
		@include h4-footer;
		padding-bottom: 1rem;
	}
	&__bigbox {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.4rem;
		&--content {
			color: $white;
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			&--logo {
				width: 0.6rem;
				height: 0.8rem;
				margin-right: 1rem;
			}
		}
	}
}
