// 1er Section | Réservation + Boutton exploreur
.reservation {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: $main-background;
	padding: 2.6rem;
	&__title {
		padding: 0 0.5rem 0.5rem 0.5rem;
		@include h2-title-homepage;
	}
	&__content {
		font-family: "Roboto", sans-serif;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		color: $dark-grey;
	}
}
