// Heart button
.btnHeart {
	display: none;
}
.btnHeart:checked + .btnLabel .fa-solid {
	animation: dislike 0.2s ease-out normal forwards;
}
.btnHeart:checked + .btnLabel .fa-regular {
	animation: like 0.2s ease-out normal forwards;
}
.btnLabel {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: auto;
	margin-right: 1rem;
	&__like {
		font-size: 1.5rem;
		position: absolute;
	}
	.heart-full {
		color: transparent;
		background-image: linear-gradient($secondary-color, $main-color);
		background-clip: text;
		-webkit-background-clip: text;
		opacity: 0;
	}
}

// Purple Button
.purple__button {
	width: 13.625rem;
	height: 3.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5625rem;
	margin: 2rem 2rem 1rem 2rem;
	background: linear-gradient(
		0deg,
		$main-color -20.44%,
		$secondary-color 123.93%
	);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	opacity: 1;
	transition: opacity 0.5s ease-out;
	&--content {
		color: $white;
		font-family: "Roboto", sans-serif;
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	&:hover {
		box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
		opacity: 0.7;
		transition: opacity 0.5s ease-out;
	}
}
