// Heart button
.btnHeart {
	display: none;
}
.btnHeart:checked + .btnCheck .fa-solid {
	// animation: dislike 0.2s ease-in-out normal forwards;
	opacity: 1;
	transform: scale(1);
}
.btnHeart:checked + .btnCheck .fa-regular {
	// animation: like 0.2s ease-in-out normal forwards;
	opacity: 0;
}

.btnLabel {
	display: flex;
	position: relative;
	justify-content: flex-end;
	top: -30px;
	margin: 0 1.5rem 0 0;
}

.btnLabel__like {
	font-size: 1.5rem;
	position: absolute;
	transition: all 500ms ease-in-out;
	&:hover {
		cursor: pointer;
	}
}
.heart-full {
	color: transparent;
	background-image: linear-gradient($secondary-color, $main-color);
	background-clip: text;
	-webkit-background-clip: text;
	opacity: 0;
}
