// Titles
@mixin h2-title-homepage {
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $black;
}

@mixin h4-title {
	font-family: "Roboto", sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $black;
}

@mixin h4-footer {
	color: $white;
	font-family: "Shrikhand", sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
