// Variable Couleur
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$grey-color: #eaeaea;
$main-background: #f6f6f6;
$white: #fff;
$dark-grey: #353535;
$black: #000;
$grey-tint: #7e7e7e;
$green-font: #008766;
$light-black: #101010;
