.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__title {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.8rem 5.5rem;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  padding: 1rem 5.5rem;
  gap: 1.6rem;
}
.header__location--dot {
  color: #353535;
  width: 0.7rem;
}
.header__location--content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #353535;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

Body {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.reservation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2.6rem;
}
.reservation__title {
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.reservation__content {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
.reservation__navbutton {
  width: 13.625rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5625rem;
  margin: 2rem 2rem 1rem 2rem;
  background: linear-gradient(0deg, #9356dc -20.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.reservation__navbutton--content {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 0 1.5rem 1.25rem;
}
.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.fonctionnement__bigbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}
.fonctionnement__bigbox__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20.1rem;
  height: 4.5rem;
  margin-bottom: 1.6rem;
  background: #f6f6f6;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__bigbox__box--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  position: relative;
  margin-right: 0.5rem;
  right: 4%;
}
.fonctionnement__bigbox__box--circle--content {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fonctionnement__bigbox__box--phone {
  width: 0.8rem;
  height: 1.2rem;
  color: #7e7e7e;
}
.fonctionnement__bigbox__box--list {
  width: 1rem;
  height: 0.9rem;
  color: #7e7e7e;
}
.fonctionnement__bigbox__box--store {
  width: 1.125rem;
  height: 1.12rem;
  color: #9356dc;
}
.fonctionnement__bigbox__box--content {
  width: 13rem;
  height: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f6f6;
  padding: 3.4rem 1.1rem 4.1rem 1.1rem;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin-bottom: 1.1rem;
}
.restaurants__bigbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.restaurants__bigbox__box {
  width: 100%;
  height: auto;
  margin: 0 0 1.1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  background-color: #fff;
  border-radius: 0.9rem;
}
.restaurants__bigbox__box--img {
  width: 100%;
  height: 14.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem 0.9rem 0 0;
}
.restaurants__bigbox__box__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
}
.restaurants__bigbox__box__content--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants__bigbox__box__content--content--title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.restaurants__bigbox__box__content--content--text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */