// Import SASS
@import "./../sass/variables/_variable.scss";
@import "./../sass/mixin/_mixin.scss";
@import "./../sass/animation/_animation.scss";
@import "./../sass/layout/_header.scss";
@import "./../sass/layout/_homepage.scss";
@import "./../sass/layout/_menu.scss";
@import "./../sass/layout/_footer.scss";
@import "./../sass/components/_button.scss";

// Reset General
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

// General
Body {
	display: flex;
	flex-direction: column;
	margin: auto;
}
