.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__title {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.8rem 5.5rem;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  padding: 1rem 5.5rem;
  gap: 1.6rem;
}
.header__location--dot {
  color: #353535;
  width: 0.7rem;
}
.header__location--content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #353535;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: #353535;
  padding: 1.8rem;
}
@media (min-width: 1020px) {
  .info {
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 7rem;
  }
}
.info__title {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1rem;
}
@media (min-width: 1020px) {
  .info__title {
    padding: 0 0 0 1rem;
    margin: 0;
  }
}
.info__bigbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
@media (min-width: 1020px) {
  .info__bigbox {
    flex-direction: row;
  }
}
.info__content {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 1020px) {
  .info__content {
    padding-right: 2rem;
  }
  .info__content:first-of-type {
    padding-right: 0.5rem;
  }
}
.info__content--logo {
  width: 0.6rem;
  height: 0.8rem;
  margin-right: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

Body {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.reservation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2.6rem;
}
.reservation__title {
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.reservation__content {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
.reservation__navbutton {
  width: 13.625rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5625rem;
  margin: 2rem 2rem 1rem 2rem;
  background: linear-gradient(0deg, #9356dc -20.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.reservation__navbutton--content {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.reservation__navbutton:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

.fonctionnement {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 3rem 0 1.5rem 1.25rem;
}
@media (min-width: 1020px) {
  .fonctionnement {
    max-width: 1020px;
    margin: auto;
  }
}
.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.fonctionnement__bigbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}
@media (min-width: 1020px) {
  .fonctionnement__bigbox {
    flex-direction: row;
  }
}
.fonctionnement__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20.1rem;
  height: 4.5rem;
  margin-bottom: 1.6rem;
  background: #f6f6f6;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1020px) {
  .fonctionnement__box {
    margin-right: 2.2rem;
  }
}
.fonctionnement__box--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  position: relative;
  margin-right: 0.5rem;
  right: 4%;
}
.fonctionnement__box--circle--content {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fonctionnement__box--phone {
  width: 0.8rem;
  height: 1.2rem;
  color: #7e7e7e;
}
.fonctionnement__box--list {
  width: 1rem;
  height: 0.9rem;
  color: #7e7e7e;
}
.fonctionnement__box--store {
  width: 1.125rem;
  height: 1.12rem;
  color: #9356dc;
}
.fonctionnement__box--content {
  width: 13rem;
  height: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 3.4rem 1.1rem 4.1rem 1.1rem;
}
.restaurants__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1020px;
  width: 100%;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  margin-bottom: 1.1rem;
}
@media (min-width: 1020px) {
  .restaurants__title {
    padding-left: 2rem;
  }
}
.restaurants__bigbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media (min-width: 1020px) {
  .restaurants__bigbox {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
.restaurants__box {
  width: 100%;
  height: auto;
  margin: 0 0 1.1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  background-color: #fff;
  border-radius: 0.9rem;
}
@media (min-width: 1020px) {
  .restaurants__box {
    width: 29rem;
    margin: 0 1rem 2rem 1rem;
  }
}
.restaurants__box--imgcontent {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.restaurants__box--imgcontent--new {
  width: 5rem;
  height: 1.8rem;
  background-color: #99e2d0;
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 1rem;
}
.restaurants__box--imgcontent--new--content {
  color: #008766;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.restaurants__box--imgcontent--img {
  width: 100%;
  height: 14.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem 0.9rem 0 0;
}
.restaurants__box__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
}
.restaurants__box__content--content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants__box__content--content--title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.restaurants__box__content--content--text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.restaurants__box__content .btnHeart {
  display: none;
}
.restaurants__box__content .btnHeart:checked + .btnLabel .fa-solid {
  animation: dislike 0.2s ease-out normal forwards;
}
.restaurants__box__content .btnHeart:checked + .btnLabel .fa-regular {
  animation: like 0.2s ease-out normal forwards;
}
.restaurants__box__content .btnLabel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin-right: 1rem;
}
.restaurants__box__content .btnLabel__like {
  font-size: 1.5rem;
  position: absolute;
}
.restaurants__box__content .btnLabel .heart-full {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

@keyframes dislike {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes like {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */