@import "./../sass/variable.scss";

// Mixin
@mixin h2-title-homepage {
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $black;
}

// Reset General
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// General
Body {
	display: flex;
	flex-direction: column;
	margin: auto;
}

// Header
.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	.header__title {
		font-family: "Shrikhand", sans-serif;
		text-align: center;
		font-size: 1.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 0.8rem 5.5rem;
		z-index: 1;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	}
	.header__location {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: $grey-color;
		padding: 1rem 5.5rem;
		gap: 1.6rem;
		&--dot {
			color: $dark-grey;
			width: 0.7rem;
		}
		&--content {
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			color: $dark-grey;
		}
	}
}

// Homepage
// 1er Section | Réservation + Boutton exploreur
.reservation {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: $main-background;
	padding: 2.6rem;
	.reservation__title {
		padding: 0 0.5rem 0.5rem 0.5rem;

		@include h2-title-homepage;
	}
	.reservation__content {
		font-family: "Roboto", sans-serif;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		color: $dark-grey;
	}
	.reservation__navbutton {
		width: 13.625rem;
		height: 3.125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		border-radius: 1.5625rem;
		margin: 2rem 2rem 1rem 2rem;
		background: linear-gradient(
			0deg,
			$main-color -20.44%,
			$secondary-color 123.93%
		);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		&--content {
			color: $secondary-background;
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}

// 2eme Section | Fonctionnement
